.imgwidth{height: 204px;}
.panel-default .panel-heading {
    background-color: #4DB6AC;
  
}
.b-info {
      border-color: #4DB6AC; 
}
md-toolbar.md-tall {
    height: 2px;
    min-height: 2px;
    max-height: 2px;
}
md-toolbar.md-accent {
    background-color: orange;
    color: #FFF;
}
.checkout_top {
    position: relative;
    display: block;
    padding: 12px;
 }

 .btn-fw {
    min-width: 100%;
    color: white;
}

md-dialog{
	max-width: 350px;
	height: auto;
}
.addbagbutton{
	border-color: #009688;
	border-radius: 4px;
	padding: 5px 9px;
	color: #FFF !important;
}
.addInput{
	width:45px;
	height: 40px;
	padding:6px 15px; 
	border-radius: 5px;
}
.specialInst{
	float:left;
	width: 100%;
	padding-bottom: 10px;
}
.clearboth{
	clear: both;
}

.back-image{
background-color: #009688;
width: 100%;
height: 650px;
padding: 175px 10px 31px 10px;
}
.box-inner{
	padding: 0px;
}
.search_bg{
	float: left;
	width: 100%;
}
.search_bg_button{
	padding: 9px 12px;
}
.padding-10{
	padding: 10px;
}
.clearboth > div{
	clear: both;
	display: inline-block;;
}
.buttondiv{
	padding: 10px 0;
    text-align: center;
}
.plus-minus-button{
	vertical-align: top;
}
.buttondiv{
	 padding: 10px 0;
    text-align: center;
}
@media (max-width: 480px) { 
	.margin-8{
		margin: 0 10px;
	}
 }

.check-out-div{
	width:0px;
	margin-right: 30px;
}
.displayInline{
	display: inline-block;
}
.imageCursor{
	cursor: pointer;
}