
  <div class="row">
    <div class="col-sm-9">
    <div class="row">
      <div class="panel panel-card">
        <div class="item">
          <img src="images/c1.jpg" class="w-full r-t imgwidth" alt="Washed Out">
          <div class="bottom text-white p">
              Swagat Restaurant
          </div>
        </div>
        <a md-ink-ripple class="md-btn md-raised md-fab brown m-r md-fab-offset pull-right"><span class="text-white">23</span></a>
        <div class="p indigo-A100">
        </div>
      </div>
      </div>
<div class="row">
<div class="col-lg-1" ></div>
    <div class="col-lg-10" >
      <!-- accordion -->      
      <div  ng-controller="MDDialogCtrl" class="margin-8"> <!--<div ng-controller="AccordionDemoCtrl">-->
        <accordion close-others="oneAtATime">
         
          <accordion-group is-open="status.open" class="b-info">
              <accordion-heading>
                  Most Popular <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
              </accordion-heading>
      			<div class="md-list-item col-lg-6"  ng-click="showAdvanced($event)">
          			<div class="md-list-item-left circle green">
            			<i class="mdi-action-grade i-24"></i>
          			</div>
          			<div class="md-list-item-content">
            			<div style="float:left"><h3 class="text-md">Rotali</h3>
            			<small class="font-thin">Min Li Chan</small></div>
            			<div class="md-list-item-content" style="float:right">$1</div>
          			</div>
        		</div>
		        <div class="md-list-item col-lg-6"  ng-click="showAdvanced($event)">
		          <div class="md-list-item-left circle indigo">
		            <span class="font-thin text-lg">C</span>
		          </div>
		          <div class="md-list-item-content">
		            <div style="float:left"><h3 class="text-md">idaly</h3>
		            <small class="font-thin">Ci Chan</small></div>
		            <div class="md-list-item-content" style="float:right">$1</div>
		          </div>
		        </div>
		        <div class="md-list-item col-lg-6"  ng-click="showAdvanced($event)">
		          <div class="md-list-item-left circle pink">
		            <span class="font-thin text-lg">L</span>
		          </div>
		          <div class="md-list-item-content">
		            <div style="float:left"><h3 class="text-md">Noodle</h3>
		            <small class="font-thin">Lin Li Chan</small></div>
		            <div class="md-list-item-content" style="float:right">$1</div>
		          </div>
		        </div>
		        <div class="md-list-item col-lg-6"  ng-click="showAdvanced($event)">
		          <div class="md-list-item-left circle teal">
		            <span class="font-thin text-lg">A</span>
		          </div>
		          <div class="md-list-item-content">
		            <div style="float:left"><h3 class="text-md">Chikan Tika Masala</h3>
		            <small class="font-thin">Min Li Chan</small></div>
		            <div class="md-list-item-content" style="float:right">$1</div>
		          </div>
		        </div>
	        <div class="md-list-item col-lg-6"  ng-click="showAdvanced($event)">
	          <div class="md-list-item-left circle teal">
	            <span class="font-thin text-lg">M</span>
	          </div>
	          <div class="md-list-item-content">
	            <div style="float:left"><h3 class="text-md">NAAN</h3>
	            <small class="font-thin">Min Li Chan</small></div>
	            <div class="md-list-item-content" style="float:right">$1</div>
	          </div>
	        </div>
	        <div class="md-list-item col-lg-6"  ng-click="showAdvanced($event)">
	          <div class="md-list-item-left circle teal">
	            <span class="font-thin text-lg">B</span>
	          </div>
	          <div class="md-list-item-content">
	            <div style="float:left"><h3 class="text-md">Masala Dosa</h3>
	            <small class="font-thin">Bin Li Chan</small></div>
	          	<div class="md-list-item-content" style="float:right">$1</div>
	          </div>
	        </div>
 		   
          </accordion-group>

        </accordion>
        <accordion close-others="oneAtATime">
         
          <accordion-group is-open="status.open" class="b-info">
              <accordion-heading>
                  category_1 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
              </accordion-heading>
              This is just some content to illustrate fancy headings.
          </accordion-group>
          
        </accordion>
        <accordion close-others="oneAtATime">
         
          <accordion-group is-open="status.open" class="b-info">
              <accordion-heading>
                  category_2 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
              </accordion-heading>
              This is just some content to illustrate fancy headings.
          </accordion-group>
          
        </accordion>
        <!--<label class="ui-checks m-b-md">
          <input type="checkbox" ng-model="oneAtATime"><i></i>
          Open only one at a time
        </label>-->
      </div>
 </div>
</div>



    </div>
    <div class="col-sm-3 card margin-8">
        		
        		<div class="checkout_top">
          			<div class="md-list-item-content">
            			<h3 class="text-md ">Order From</h3>
            			<small class="font-thin">Min Li Chan</small>
          			</div>
        		</div>

        		<div class="checkout_top">
          			<div class="md-list-item-content">
            			<h3 class="text-md ">Pick up</h3>
            			<small class="font-thin">Min Li Chan</small>
          			</div>
        		</div>
        		<div class="checkout_top">
        	 	<button md-ink-ripple="" class="btn btn-fw red-900">Proceed To Checkout<div style="" class="md-rip
ple-container"></div></button>
        	 	</div>
        		<div class="checkout_top" style="text-align: center;">
            			<span>Pickup order for $36.56</span>
        		</div>
    			<md-toolbar class="md-tall md-accent md-default-theme">
      
    			</md-toolbar>
    			<div class="md-list-item">
          			<div class="md-list-item-left check-out-div ">
            			<i class="glyphicon glyphicon-remove"></i>
          			</div>
                <div class="md-list-item-left check-out-div ">
                  <h5>1</h5>
                </div>
          			<div class="md-list-item-content">
            			<div style="float:left"><h3 class="text-md">Rotali</h3>
            			<small class="font-thin">Min Li Chan</small></div>
  						<div class="md-list-item-content" style="float:right">$1</div>
          			</div>
        	</div>
    			<div class="md-list-item">
          			<div class="md-list-item-left check-out-div ">
                  <i class="glyphicon glyphicon-remove"></i>
                </div>
                <div class="md-list-item-left check-out-div ">
                  <h5>1</h5>
                </div>
          			<div class="md-list-item-content">
            		<div style="float:left">	<h3 class="text-md">Rotali</h3>
            			<small class="font-thin">Min Li Chan</small></div>
          			<div class="md-list-item-content" style="float:right">$1</div>
          			</div>
        	</div>
	        <div class="md-list-item ">
	          <div class="md-list-item-left check-out-div ">
                  <i class="glyphicon glyphicon-remove"></i>
            </div>
            <div class="md-list-item-left check-out-div ">
                  <h5>1</h5>
            </div>
	          <div class="md-list-item-content">
	            <div style="float:left"><h3 class="text-md">NAAN</h3>
	            <small class="font-thin">Min Li Chan</small></div>
	          <div class="md-list-item-content" style="float:right">$1</div>
	          </div>
	        </div>
	        <div class="md-list-item ">
	          <div class="md-list-item-left check-out-div ">
                  <i class="glyphicon glyphicon-remove"></i>
            </div>
            <div class="md-list-item-left check-out-div ">
                  <h5>1</h5>
            </div>
	          <div class="md-list-item-content">
	            <div style="float:left"><h3 class="text-md">Masala Dosa</h3>
	            <small class="font-thin">Bin Li Chan</small></div>
	            <div class="md-list-item-content" style="float:right">$1</div>
	          </div>
	        </div>

          <div class="md-list-item">
            
            <div class="md-list-item-content">
                <div style="text-align: right;">
                  <div class="displayInline" style="padding-right: 10px;">
                      <h3 class="text-md " >SubTotal:</h3>
                  </div>
                  <div class="displayInline"><h3 class="text-md ">$11</h3></div>
                  <div>
                    <div class="displayInline" style="padding-right: 10px;">
                      <h3 class="text-md" >Tax:</h3></div>
                    <div class="displayInline">
                      <h3 class="text-md ">$1</h3></div>
                  </div>

                </div>
	         <div class="p grey-900">
        	     <span >Total:</span>
        	     <span style="float:right">$36.46</span>
            </div>
	        </div>

        </div>

<script type="text/javascript" src="reg.js"></script>