  <div class="row">
    <div class="col-sm-4" ng-repeat="item in RestList  | filter: app.search.content">
      <div class="panel panel-card " style="padding:10px" >
        <div class="item">
          <img ng-src="../gallery/main/{{item.img}}" class="w-full r-t imageCursor" ui-sref="app.reg" alt="Washed Out">
        </div>
        <a  ui-sref="app.restaurantItems"  md-ink-ripple class="md-btn md-raised md-fab blue m-r md-fab-offset pull-right"><span class="text-white">Order</span></a>
        <div class="p">
          <h4>{{item.Name}}</h4>
          <small>{{item.Address}}</small>
          <div>
            <i  ng-repeat="i in getNumber(item.Rating) track by $index" class="fa fa-star-o"></i>
            ({{item.Rating}} Review) </div>
           <div style="padding-top:5px">{{item.Special}}</div>
           <div><span>Price Min:</span><span>  <b>{{item.Min}}</b></span></div>
        </div>
      </div>
    </div>
 
 
  </div>
